.App {
  text-align: center;
  font-family: Arial, sans-serif;
}

button {
  margin-top: 50px;
  padding: 10px 20px;
  font-size: 16px;
}

.react-calendar-heatmap .color-empty {
  fill: #eeeeee;
}

.react-calendar-heatmap .color-scale-1 {
  fill: #d6e685;
}

.react-calendar-heatmap .color-scale-2 {
  fill: #8cc665;
}

.react-calendar-heatmap .color-scale-3 {
  fill: #44a340;
}

.react-calendar-heatmap .color-scale-4 {
  fill: #1e6823;
}
